// Override variables here
$family-serif: 'Georgia',
serif; // Add a serif family
$family-primary: $family-serif; // Use the new serif family
$primary: #314c81;
@import './node_modules/bulma/bulma';
@import 'partials/appheader';
@import 'partials/appfooter';
@import 'partials/messagebox';
@import 'partials/userbar';
@import 'partials/notification';
body {
    min-height: 100vh;
    background: #fcea83;
    color: #000;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    .is-invisible {
        visibility: hidden;
    }
    a.left-gap {
        margin-left: 10px;
    }
    .main-section {
        min-height: 600px;
    }
    .content {
        .no-margin {
            margin: 0;
        }
        .control-or {
            padding: 8px 0px;
        }
    }
    div.is-small {
        padding: 0.9rem 1rem 0.9rem 1rem;
        p {
            font-size: 0.8rem;
        }
    }
}